# Web Framework
Flask==3.1.0

# Gunicorn for deployment
gunicorn==21.2.0

# Image + NumPy compatibility
numpy==1.25.2
opencv-python==4.8.0.76
pillow==11.2.0

# Flask MySQL Integration
Flask-MySQLdb==2.0.0

# Environment & Utility
python-dotenv==1.1.0
PyYAML==6.0.2

# Build system
setuptools>=67.0.0,<70
wheel

